body {
  
background: #000000;

  color: rgb(255, 255, 255);

  font-family: Arial, Helvetica, sans-serif;
  
}

.badge {
text-align: center;
font-size: 40px;
}

.media-img {
  background-size: 150px;
  width: 300px;
  height: 300px;
  border: 2px solid;
  color: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* Centre la vidéo et rend l'iframe responsive */
.video{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 20px 0;
}
.video iframe{
    max-width: auto;
    width:560px; /* valeur par défaut, redimensionne si espace plus petit */
    height:315px;
}

.button_retour {
    background-color: rgb(121, 121, 121);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.title {
    text-align: center;
    font-size: 100px;
    margin-top: 1rem;
    margin-bottom: 2rem;

}

p {
    text-align: center;
    font-size: 20px;
       margin-left: 500px;
    margin-right: 500px;
    
}
h1 {
    font-size: 40px;
    text-align: center;
    line-height: 1.6;
    margin-left: 300px;
    margin-right: 300px;
}

h2 {
    font-size: 25px;
    text-align: center;
    line-height: 1.6;
    margin-left: 300px;
    margin-right: 300px;
}

ul {
    font-size: 20px;
    line-height: 1.6;
    margin-left: 450px;
    margin-right: 450px;
}
.intro {
    font-size: 22px;
    text-align: center;
    line-height: 1.6;
    margin-left: 250px;
    margin-right: 250px;
}

code{
    
    display: flex;
    justify-content: center;
}