body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

.log-container {
    background-color: grey;
    height: 70%;
    width: 35%;
    border: none;
    border-radius: 3rem;
    
}