.bouton {
    /* Aspect général du bouton */
    padding: 14px 28px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    color: white;
    
    
    /* Dégradé */
    background: linear-gradient(135deg, #ff0000, #0f8d04, #000000);
    background-size: 200% 200%;

    display: block;
    margin: auto;

}

a{
    color: black;
    text-decoration: none;
}

.Titre{
    text-align: center;
}

hr{
    height: 5px;
    background-color: #000000;
    border: none;
}

p{
    text-align: center;
    height: 15px;
    font-size: 20px;
}