body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  
}

.badge {
text-align: center;
font-size: 40px;
}
.media-img {
  background-size: 150px;
  width: 300px;
  height: 300px;
  border: 2px solid;
  color: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.video {
   align-items: center;
   align-self: center;
   align-content: center;
}

.button {
    background-color: rgb(121, 121, 121);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
