body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  
}

.badge {
text-align: center;
font-size: 40px;
}
.media-img {
  background-size: 150px;
  width: 300px;
  height: 300px;
  border: 2px solid;
  color: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.video {
   align-items: center;
   align-self: center;
   align-content: center;
}

