body {
  
background: #000000;
background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 5%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(255, 255, 255, 1) 95%, rgba(0, 0, 0, 1) 100%);
  


  color: rgb(255, 255, 255);

  font-family: Arial, Helvetica, sans-serif;
  
}

.badge {
text-align: center;
font-size: 40px;
}
.media-img {
  background-size: 150px;
  width: 300px;
  height: 300px;
  border: 2px solid;
  color: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.button {
    background-color: rgb(121, 121, 121);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

/* Centre la vidéo et rend l'iframe responsive */
.video{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 20px 0;
}
.video iframe{
    max-width: auto;
    width:560px; /* valeur par défaut, redimensionne si espace plus petit */
    height:315px;
}


p{
    margin-left: 500px;
    margin-right: 500px;
}

p.texte {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.texte {
    font-size: 15px;
    text-align: center;
}